@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400&display=swap');
*,html,body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #e0e0e0;
    font-weight: 400;
}
b{
    font-weight: 500;
}
body{
    background-color: #101219;
    color: #e0e0e0;
}
html,body{
    height: 100%;
    width: 100%;
}
td{
    padding: 10px;
    word-wrap: break-word;
    border: 3px #232e53 solid;
    border-radius: 1px;
}
td.active{
    background-color: rgb(73, 105, 20);
    border-color: rgb(53, 77, 14);
}
td.pending{
    background-color: rgb(92, 92, 15);
    border-color: rgb(71, 71, 11);
}
td.storage{
    background-color: #2b3555;
}
td.missing{
    background-color: rgb(112, 0, 0);
    border-color: rgb(85, 0, 0);
}
td img{
    float: right;
    width: 32px;
    height: 32px;
}
body>h1{
    text-align: center;
    letter-spacing: 10px;
    font-weight: 800;
    color: #fff;
    font-size: 2.5em;
}

#terminalcontainer{
    width: 90%;
    min-height: 90%;
    border: black solid 1px;
    margin: 0 auto;
    border-collapse: collapse;
    display: flex;
}

#terminalgrid{
    width: 90%;
    margin: 0 auto;
    border: black solid 1px;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}
#terminalgrid>*{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

button{
    background-color: #292f47;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}
button:hover{
    background-color: #363e5e;
    cursor: pointer;
}

.redtext{
    color:rgb(170, 0, 0);
}

#terminaltypes{
    width: 10%;
    min-height: 100%;
    border-right: black solid 1px;
    float: left;
}
#terminaltypes button{
    width: calc(100% - 10px);
    margin: 5px 5px;
    font-size: 110%;
}

#terminalwindow{
    width: 80%;
    float: left;
}

#terminalheader{
    width: calc(100% - 20px);
    min-height: 40px;
    height: fit-content;
    border-bottom: black solid 1px;
    font-size: 150%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
input, select {
    background-color: #2b3555;
    accent-color: #9b59b6;
    border: 0;
    padding: 5px;
    border-radius: 5px;
}
#terminalheader input{
    font-size: 100%;
    background-color: #2b3555;
    border: 0;
    border-radius: 5px;
    transition: 0.2s;
    padding: 5px;
}
#terminalheader input:hover{
    background-color: #384572;
}
#terminalheader button{
    font-size: 110%;
    float:right;
    margin-left: 10px;
}
#terminalcontent{
    width: 100%;
    min-height: 95%;
}
#terminalcontent table{
    width: 100%;
    table-layout: fixed;
}
#terminalcontent td{
    height: auto;
}
#terminalcontent td.button{
    background-color: #2b3555;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    transition: 0.2s;
}
#terminalcontent td.button:hover{
    background-color: #3b4874;
    cursor: pointer;
}
#terminalsubcontainer{
    width: 10%;
    float: left;
    border-left: solid black 1px;
    font-size: 110%;
}

#terminalsubcontainer header{
    border-bottom: black dotted 1px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 130%;
    font-weight: 500;
    margin-bottom: 10px;
}
#terminalsubcontainer section{
    text-align: center;
}
#terminalsubcontainer > * > section > *{
    margin: 5px auto;
}

#terminalCPUList button, #terminalCPUListForJob button{
    width: 100%;
    margin: 0;
    border-bottom: black dotted 1px;
    word-wrap: break-word;
}
#terminalCPUList button.selected, #terminalCPUListForJob button.selected{
    background-color: rgb(0, 137, 155);
}
#terminalCPUListForJob button.invalid{
    background-color: rgb(155, 23, 0);
}
#terminalCPUListForJob button.mergable{
    background-color: rgb(170, 159, 0);
}
#terminalCPUListForJob button.mergable.selected{
    background-color: rgb(0, 165, 194);
}

#terminalHistoryDetails{
    padding: 5px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#overlay>#overlaytext{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-weight: 900;
    color: #e0e0e0;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#alertoverlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: fit-content;
    top: 5px;
    left: 5px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}
#alertoverlay > *{
    width: 100%;
    border: black solid 1px;
    border-radius: 5px;
    background-color: #cc404049;
    padding: 10px;
    cursor: pointer;
}

#alertoverlay > *::after{
    content: "X";
    float: right;
    color: #e0e0e0;

}

#topMessages{
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #929292;
    transition: 0.2s;
}

#topMessages > *{
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 130%;
}

#topMessages > * > button{
    float: right;
    margin-right: 10px;
}


footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
    background-color: #9292926b;
    padding: 10px;
    transition: 0.2s;
}

footer:hover{
    background-color: #929292;
}

.note{
    color: rgb(80, 80, 80);
    font-style: italic;
    font-size: 90%;
}
.note::before{
    content: "ⓘ ";
}

a{
    color: #80cbc4;
    transition: 0.2s;
}

a:hover{
    color: #a7ffeb;
    text-decoration: underline;
}

option:disabled{
    color: rgb(170, 170, 170);
}
option:checked{
    color: light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
}

.minecraftSpecialFormat_0{
    color: #000;
}

.minecraftSpecialFormat_1{
    color: #0000AA;
}

.minecraftSpecialFormat_2{
    color: #00AA00;
}

.minecraftSpecialFormat_3{
    color: #00AAAA;
}

.minecraftSpecialFormat_4{
    color: #AA0000;
}

.minecraftSpecialFormat_5{
    color: #AA00AA;
}

.minecraftSpecialFormat_6{
    color: #FFAA00;
}

.minecraftSpecialFormat_7{
    color: #AAAAAA;
}

.minecraftSpecialFormat_8{
    color: #555555;
}

.minecraftSpecialFormat_9{
    color: #5555FF;
}

.minecraftSpecialFormat_a{
    color: #55FF55;
}

.minecraftSpecialFormat_b{
    color: #55FFFFFF;
}

.minecraftSpecialFormat_c{
    color: #FF5555;
}

.minecraftSpecialFormat_d{
    color: #FF55FF;
}

.minecraftSpecialFormat_e{
    color: #FFFF55;
}

.minecraftSpecialFormat_f{
    color: #FFFFFF;
}

.minecraftSpecialFormat_k{
    /* no implementation? */
}

.minecraftSpecialFormat_l{
    font-weight: bold;
}

.minecraftSpecialFormat_m{
    text-decoration: line-through;
}

.minecraftSpecialFormat_n{
    text-decoration: underline;
}

.minecraftSpecialFormat_o{
    font-style: italic;
}

.minecraftSpecialFormat_r{
    color: black;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: #e0e0e0;
    margin-left: 5px;
}

.collapsible.active:after {
    content: "\2796";
}

.mobile-only{
    display: none;
}

@media screen and (max-width: 1300px){
    body{
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px){
    #terminalheader{
        border-top: black solid 1px;
    }
    #terminalheader > * > *{
        width: 100%;
        float: right;
        margin-top: 5px;
        margin-left: 10px;
    }
    #terminalheader:first-child{
        text-align: center;
        font-size: 200% !important;
        font-weight: bold !important;
    }
    #terminalheader > * > input{
        width: calc(100% - 10px);
        float: right;
        margin-top: 5px;
        margin-left: 10px;
    }
    #terminalsubcontainer{
        width: 100%;
        float: none;
        order: 2;
        border-left: none;
        border-top: black solid 1px;
    }
    #terminalsubcontainer header{
        border-bottom: none;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 130%;
        font-weight: 500;
        margin-bottom: 10px;
    }
    #terminaltypes{
        width: 100%;
        float: none;
        order: 1;
    }
    #terminalwindow{
        width: 100%;
        float: none;
        order: 3;
    }
    #terminalcontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #terminalgrid {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #terminalgrid > *{
        width: calc(100% - 10px) !important;
        margin: 5px 5px;
        margin-top: 10px !important;
        font-size: 150% !important;
    }
    #terminaltypes button{
        width: calc(50% - 10px);
        margin: 5px 5px;
        float: left;
    }
    .mobile-only{
        display: block;
        width: calc(100% - 10px) !important;
        margin: 5px 5px;
        text-align: center;
        margin-top: 10px !important;
        font-size: 150% !important;
    }
    .mobile-hidden{
        display: none !important;
    }
    #terminalOptions > section{
        display: none;
    }
    #terminalsubcontainersettings > section{
        display: none;
        font-size: 150%;
    }
}
