# Preserve native shader lighting and fingerprint selected filesystem resource packs.
public com.mojang.blaze3d.systems.RenderSystem shaderLightDirections
public net.minecraft.server.packs.FilePackResources f_243750_ # file
public net.minecraft.server.packs.PathPackResources f_243919_ # root
